option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    MONGODB_URI: mongodb+srv://admin:ObbK0o4vpAEtwnmc@cluster0.scd3i.mongodb.net/transmateDB?retryWrites=true&w=majority
    MONGODB_COLLECTION: transmatetests
    MONGODB_QUESTIONS_COLLECTION: transmatequestions
    MONGODB_LANGUAGES_COLLECTION: transmatelanguages
    PUSHER_APPID: 1086837
    PUSHER_KEY: d7237d909a71b2a779b3
    PUSHER_SECRET: f4c625489a5ef7e43990
    PUSHER_CLUSTER: ap4
    PUSHER_ENCRYPTED: true
    AZ_API_BASE_URL: https://api.cognitive.microsofttranslator.com
    AZ_API_SUB_KEY: dbd78ed13d6d49fabbfb6f8b137b7c6e
    API_SPEECH_BASE_URL: https://australiaeast.tts.speech.microsoft.com
    API_SPEECH_SUB_KEY: ecdfb5a8d07d4c9cb0cb16078b1cbba1
    AZ_REGION: australiaeast

